
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  margin: 0;
  margin-left: -.5em;
  padding: 0;
  position: fixed;
 	top: 0;
 	width: 100%;
  z-index: 1;
  opacity: 0.9;
}

ul li {float: left;}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {background-color: #111;}

ul li a.active {background-color: #4CAF50;}

ul li.right {float: right;

}

@media screen and (max-width: 600px) {
  ul li.right,
  ul li {float: none;}
}

.content {
  margin: 2em;
  margin-top: 3.5em;
  padding: 2em;
  height: 1500px;
}

.text {
  padding: 1em;
  border: solid black 1px;
}

.dataWithoutNav{
  border: solid black 1px;
}

tr {
  color: blue;
}

th {
color: black;
padding: .5em;
text-align: center;
background-color: lightblue;
}

td {
color: purple;
padding: .5em;
background-color: lightgray;
text-align: center;
}

#welcomeMessage {
  text-align: center;
}

#dataWithoutNav{
	padding-top: 5%;
	margin-left: 5%;
	width:75%; 
}
